<% content_for :title, "Room #{@room.slug}" %>

<main class="shell room-shell" id="main-content">
  <%= render "state_notice",
    room: @room,
    participant: @participant,
    presence_conflict: @presence_conflict,
    bookmark_restricted: @bookmark_restricted %>

  <% if @invite_preview %>
    <%= render "invite_preview",
      room: @room,
      room_display_name: @room_display_name,
      creator_display_name: @creator_display_name,
      room_expiry_summary: @room_expiry_summary %>
  <% end %>

  <% if @room_unavailable %>
    <%= render "unavailable_room", room: @room %>
  <% end %>

  <% if @participant.present? %>
    <%= render "chat_card",
      room: @room,
      participant: @participant,
      chat_open: @chat_open,
      messages: @messages,
      participant_return_token: @participant_return_token,
      participant_return_url: @participant_return_url,
      share_invite_url: @share_invite_url,
      room_expiry_summary: @room_expiry_summary,
      retention_options: @retention_options %>
  <% end %>
</main>
